<div class="row justify-content-around">
  <div>
    <button type="button"
            class="btn btn-outline-primary m-2"
            [style.width.em]="'8'"
            (click)="startGame()"
    >Start Game
    </button>
    <button type="button"
            class="btn btn-outline-warning m-2"
            [style.width.em]="'8'"
            (click)="pauseGame()"
    >Pause Game
    </button>
  </div>
  <p class="badge badge-info m-2 align-middle"
     [style.font-size.em]="'1.5'"
     [style.min-width.em]="'2'"
  >{{emittedNumber}}</p>
</div>

